.shuru{ 
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50px  100px; 
}

ul{
list-style-type:none;
padding:0;
margin:0;
//background-color:#333;
overflow:hidden;
}
li{
float:left;
}
li a,.dropbtn{
display:inline-block;
padding:12px 14px;
color:white;
text-decoration:none;
}
li a:hover,.dro:hover{
text-decoration:none;
background-color:black;
}
li.dro{
display:inline-block;

}
.dro-content{
display:none;
position:absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dro-content a {
    color:#0066cc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	//background-color:skyblue;
}
.dro:hover .dro-content{
display:block;
}
.drocontent a:hover{
background-color:#333;
color:white;
}
